---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,400i,700,700i');

#skip-to-content{
  font-family:'Raleway', sans-serif; 
  color: #FF7043;
}

header{
  font-family:'Playfair Display', serif;
}

main{
  font-family:'Raleway', sans-serif;
}


.page-header{
  background-color:#FF7043;
  background-image:linear-gradient(90deg, #FF7043, #7E57C2);
}

.page-header a{
  color:white;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
  color: #7E57C2;
}

.main-content{
  a{
  color: #FF7043;
  }
  p{
  margin-top: 0;
  }
}

.borderline{
  padding: 1rem;
  
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(to right, #FF7043 0%, #7E57C2 100%);
  border-image-slice: 1;
}
