---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,400i,700,700i');

.page-header{
  background-color:#FF7043;
  background-image:linear-gradient(90deg, #FF7043, #7E57C2);
}

.page-header a{
  color:white;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
  color: #7E57C2;
}

.main-content a{
  color: #FF7043;
}
